.sidebar {
    width: 248px;
    height: 100%;
    background-color: #ffffff;
}

.logo {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 8px 16px;
}

.icon {
    font-size: 20px;
    min-width: 30px;
}

.logo img {
    width: 100%;
}

.sidebar-content {
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
    height: calc(100% - 70px);
}

.sidebar.closed {
    width: 0;
    overflow: hidden;
}


.list-item-wrapper {
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 4px;
}

.list-item-wrapper:hover {
    background-color: #fde2c4;
    transition: 0.2s;
    cursor: pointer;
}