.menu-container {
    padding: 16px;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.menu-top-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu-categories-container {
    flex-wrap: wrap;
    padding: 16px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.menu-category-item {
    display: flex;
    background-color: white;
    min-width: 50px;
    min-height: 50px;
    border-radius: 12px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    border-width: 1px;
}

.menu-category-item span {
    padding: 16px;
}

.preview-menu-items-container {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.preview-menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    border-width: 1px;
    width: 200px;
    height: 250px;
    background-color: white;
    justify-content: space-evenly;
}

.preview-menu-item img {
    margin-top: 8px;
    height: 60%;
    width: 60%;
    object-fit: contain;
}

.menu-item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item-info span {
    margin-bottom: 8px;
}